# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Streamlit
.streamlit/*.toml

# Output and Input
benchmark_dict.json
dim_directorates.csv
dim_grades.csv
dim_positions.csv
employee_success_rate.csv
Study Case DA.xlsx
tgv_weights.json
employee*.csv
tv_to_tgv.json